@keyframes modalShowAnimation {
  from {
    transform: translateX(250px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes modalHideAnimation {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(350px);
    opacity: 0;
  }
}

.footerModal {
  animation: modalShowAnimation 500ms;
}

.modalHide {
  animation: modalHideAnimation 600ms;
}
